[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.3"
flask-sqlalchemy = "~=3.0"
flask-migrate = "~=4.0"
flask-restful = "~=0.3"
flask-bcrypt = "~=1.0"
python-dotenv = "~=1.0"
faker = "~=19.0"
sqlalchemy-serializer = "~=1.4"
flask-cors = "*"

[dev-packages]
pytest = "~=7.4"

[requires]
python_version = "3.8"
